<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768692629453-tnf2tep68irohfl7qs01kmrcbtq059td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768692629453-tnf2tep68irohfl7qs01kmrcbtq059td</string>
	<key>API_KEY</key>
	<string>AIzaSyBNX5UcveUMmelNosb9tkYqjhAYw05wcec</string>
	<key>GCM_SENDER_ID</key>
	<string>768692629453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sirpa.org.Sirpa</string>
	<key>PROJECT_ID</key>
	<string>sirpa-new</string>
	<key>STORAGE_BUCKET</key>
	<string>sirpa-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768692629453:ios:8066a7ab0720944b129e84</string>
</dict>
</plist>